.tap-beacons-admin {
}

.tap-beacons-add-beacon-form {
    margin-bottom: 1em;
}

table.tap-beacons-table td {
    vertical-align: top !important;
}

.tap-beacons-table-input {
    font-size: 12px;
    width: 100%;
}

.tap-beacons-add-submit{
    margin-top: .5em;
}

.tap-beacons-update-submit{
    margin: 0 !important;
}

.tap-beacons-error-message {
    color: #c00;
}

.has-error {
    border-color: #c00 !important;
}

.tap-beacons-charts{
    float: left;
    height: 300px;
    width: 33.3%;
}

